.test {
    color: red;
}
#connect {
    color: blue;
}
.big-text {
    font-size: 32px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
    font-size: 16px;
    background-color: rgb(30, 30, 34);
}

#main {
	/*margin: auto;*/
}

#canvas-container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-size: 100px 100px, 100px 100px, 10px 10px, 10px 10px;
	background-position: -1px -1px, -1px -1px, -1px -1px, -1px -1px;
	background-image: linear-gradient(#eee 0px, transparent 1px),
                  linear-gradient(to right, #eee 0px, transparent 1px),
                  linear-gradient(rgba(255,255,255,.3) 0px, transparent 1px),
                  linear-gradient(to right, rgba(255,255,255,.3) 0px, transparent 1px);
}

#button-container {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#sampleScreen {
	width: 100%;
}
